.assinatura-page{
    margin-bottom: 60px;

    .entry-header{
        margin-bottom: 40px !important;
    }

    .lineRestricoes{
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #3D6666;
        align-items: center;
        margin-top: 60px;

        .left{
            max-width: 50%;

            h4{
                font-weight: 900;
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            p{
                margin: 0px 0 !important;
            }
        }

        a.btn{
            padding: 10px 15px;
            background-color: #3D6666;
            color: #fff;
            text-transform: uppercase;
            margin: 0 !important;

            &:hover{
                background-color: #2f5353;
            }
        }
    }

    #restricoesSelecionadas{
        width: 100%;
        padding-top: 10px;
        margin-top: 20px;
        border-top: 1px solid #abaaaa;
        display: none;

        h4{
            font-weight: bold;
            color: #3d6666;
            font-size: 17px;
            text-transform: uppercase;
        }
    }

    .main{
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        align-items: flex-start;

        .top{
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 800;
            margin-bottom: 0;
        }

        .sidebar{
            width: 350px;

            .listCategories{
                width: 100%;
                margin-top: 40px;

                ._item{
                    width: 100%;
                    padding: 10px;
                    padding-right: 20px;
                    margin: 10px 0;
                    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.17);
                    -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.17);
                    -moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.17);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .icon{
                        width: 90px;
                        height: 90px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #F1E4E9;

                        &.yellow{
                            background-color: #FFE50C;
                        }

                        &.blue{
                            background-color: #E4DEFB;
                        }

                        img{
                            width: 55%;
                        }
                    }

                    .right{
                        width: calc(100% - 100px);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .ctn{
                            strong{
                                width: 100%;
                                display: block;
                                font-size: 20px;
                            }

                            p{
                                margin: 0;
                                font-size: 15px;
                            }
                        }

                        .buttons-qty{
                            display: flex;
                            justify-content: center;
                            font-weight: bold;
                            flex-direction: row-reverse;
                            border: 2px solid #3D6666;
                            background-color: #f3f3f3;
                            color: #3D6666;
                            width: 80px;
                            padding: 0;
                            height: 37px;
                            align-items: center;
            
                            span{
                                font-size: 22px;
                                cursor: pointer;
                                padding: 0 10px;
                                margin-top: -3px;
            
                                &:hover{
                                    color: #000;
                                }
                            }
            
                            input{
                                width: 30px;
                                text-align: center;
                                margin: 0;
                                background-color: transparent;
                                font-size: 20px;
                                font-weight: 700;
                                padding: 0;
                                border: 0px;
                                box-shadow: initial;
                            }
                        }
                    }
                }
            }

            .box{
                width: 100%;
                padding: 20px;
                background-color: #F1F1F1;
                text-align: right;
                margin-top: 30px;

                p{
                    color: #939393;
                    margin-bottom: 0;
                }

                .subtotal{
                    font-weight: 900;
                    color: #F45C73;
                    margin: 0;
                    font-size: 22px;
                }
            }
        }

        .colMain{
            width: calc(100% - 420px);

            .grid{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                ._item{
                    width: 45%;
                    text-align: center;
                    margin: 12px 0;

                    &:hover{
                        .box{
                            opacity: 0.6;
                        }
                    }

                    &.active{
                        .box{
                            background-color: #ED3857;
                        }
                    }
                    
                    .box{
                        width: 100%;
                        padding: 10px;
                        background-color: #f2f2f2;
                        margin: 6px 0;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 900;
                        font-size: 18px;
                        color: #000;
                        cursor: pointer;
                    }

                    .price{
                        color: #F4526A;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }

            .boxPersonalize{
                width: 100%;
                padding: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #F1F1F1;
                font-size: 18px;
                color: #3D6666;
                margin: 40px 0;
                font-weight: 900;

                &:hover{
                    background-color: #dddddd;
                }

                .icon{
                    width: 50px;
                }
            }

            .info{
                font-size: 15px;
                margin-top: 30px;
                width: 100%;
                display: block;
                opacity: 0.8;
            }
        }
    }

    .modal{
        position: absolute;
        left: 0;
        right: 0;
        top: 10%;
        margin: auto;
        width: 590px;
        max-width: 80%;
        border: 2px solid #ccc;
        padding: 25px;
        background-color: #fff;
        z-index: 999;
        height: auto;
        display: none;

        .top{
            width: 100%;
            font-size: 20px;
            font-weight: bold;
            position: relative;
            text-transform: uppercase;

            .close{
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border: 1px solid #ccc;
                border-radius: 100%;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                cursor: pointer;
                font-size: 15px;

                &:hover{
                    background-color: #ccc;
                    color: #000;
                }
            }
        }

        .text{
            font-size: 14px;
        }

        .buscar{
            width: 100%;
            display: flex;
            margin: 20px 0;
            margin-bottom: 0;

            form{
                width: 100%;
                display: flex;
            }

            input{
                width: 85%;
                padding: 10px;
                background-color: #F6F6F6;
                border: 0;
                border-radius: 5px;
            }

            button{
                width: 15%;
                padding: 10px;
                color: #fff;
                background-color: #3D6666;
            }
        }

        .categories{
            width: 100%;
            display: flex;
            border-radius: 5px;
            background-color: #F6F6F6;

            .item{
                width: 25%;
                text-align: center;
                padding: 18px 0;
                position: relative;

                &.active{
                    background: #3d6666;
                    color: #fff;

                    *{
                        color: #fff;
                    }

                    img{
                        filter: grayscale(1) invert(1);

                    }
                }

                &:hover{
                    opacity: 0.7;
                }

                &:last-child{
                    &:before{
                        display: none;
                    }
                }

                &:before{
                    content: '';
                    width: 1px;
                    height: 45px;
                    background-color: #ccc;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    opacity: 0.4;
                }

                img{
                    width: 40px;
                    margin: 0 auto;
                }

                span{
                    width: 100%;
                    text-align: center;
                    color: #757575;
                }
            }
        }

        .list{
            width: calc(100% + 30px);
            margin: 10px 0;
            display: inline-block;
            max-height: 450px;
            overflow: auto;
            padding: 0 20px;
            margin-left: -20px;

            &.loading{
                min-height: 300px;
                background: url('../images/loading-2.svg') no-repeat;
                background-position: center;
            }

            ._item{
                width: 100%;
                padding: 10px;
                padding-right: 20px;
                margin: 20px 0;
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
                display: flex;
                justify-content: space-between;
                align-items: center;

                &.checkbox{
                    ._item{
                        padding-right: 50px;
                    }
                }

                input[type="checkbox"]{
                    // position: absolute;
                    // right: 10px;
                    // top: 10px;
                    position: relative;
                    z-index: -1;
                }

                &:hover{
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                }

                figure{
                    width: 80px;
                    height: 80px;
                    background-color: #f2f2f2;
                }

                .right{
                    width: calc(100% - 100px);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: bold;
                    font-size: 18px;
                    color: #436B6B;
                }
            }
        }

        .lineBottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left{
                font-weight: bold;
                font-size: 18px;
            }

            .btn{
                padding: 10px 15px;
                background-color: #3D6666;
                color: #fff;
                text-transform: uppercase;
                margin: 0 !important;

                &:hover{
                    background-color: #2f5353;
                }
            }
        }
    }
}

.boxAssinatura{
    max-width: 1400px;
    margin: 50px auto;
    width: 90%;
    padding: 15px;
    border: 1px solid #D5D5D5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    .left{
        display: flex;
        align-items: center;
    }

    .icone{
        display: flex;
        align-items: center;

        img{
            width: 58px;
            margin-right: 10px;
        }
    }

    .bar{
        width: 1px;
        height: 40px;
        background-color: #ccc;
        margin: 0 20px;
    }

    .msg{
        max-width: 400px;
        text-align: center;
    }

    .btn{
        margin: 0;
    }
    
}


.content-frequencia{
        
    .main{
        display: block;
    }

    h4{
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
    }

    .grid{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        ._item{
            width: 45%;
            padding: 10px;
            padding-right: 20px;
            margin: 20px 0;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 50px;
            position: relative;
            border: 2px solid rgba(0,0,0,0);

            input[type="checkbox"]{
                position: absolute;
                right: 15px;
                top: 0px;
                bottom: 0;
                margin: auto;
                z-index: -1;
            }

            &:hover{
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
                border: 2px solid rgba(0,0,0,0.5);
            }

            figure{
                width: 80px;
                height: 80px;
                background-color: #f2f2f2;
                display: flex;
                justify-content: center;
                align-items: center;

                &.blue{
                    background-color: #C7E8FF;
                }

                &.yellow{
                    background-color: #FFE400;
                }

                img{
                    max-width: 70%;
                }
            }

            .right{
                width: calc(100% - 100px);
                font-weight: bold;
                font-size: 18px;
                color: #436B6B;

                span{
                    font-weight: normal;
                    width: 100%;
                    display: block;
                    font-size: 15px;
                    color: #626C6C;
                }
            }
        }
    }

    .btn{
        margin: 0 auto;
        display: table;
    }

}

.content-revise-sua-assinatura{
    .col{
        width: 33.3%;
        margin: 15px;

        &.sidebar{
            width: 33.3% !important;
            border: 1px solid #f2f2f2;

            .top{
                width: 100%;
                padding: 10px 20px;
                background-color: #D367C5;
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
            }

            .topAvulsos{
                width: 100%;
                margin-left: 10px;
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
            }

            .listCategories{
                margin-top: 0px;

                &.avulsos{
                    ._item{
                        .icon img{
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                        }
                    }
                }

                ._item{
                    margin: 0;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    border-bottom: 1px solid #f2f2f2;

                    &:last-child{
                        border-bottom: 0px;
                    }

                    .right{
                        .ctn{
                            strong{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        .box{
            width: 100%;
            border: 1px solid #F0EFEF;
            padding: 10px;
            margin-bottom: 20px;

            p{
                font-size: 14px;
            }

            h4{
                font-weight: bold;
                color: #3D6666;
                font-size: 20px;
                margin-bottom: 10px;
            }

            form{
                .field{
                    width: 100%;
                    display: block;
                    padding: 10px 0;

                    label{
                        font-weight: bold;
                    }

                    input{
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #D0D0D0;
                        background-color: #fff;
                        opacity: 1 !important;
                    }
                }
            }

            .ctnPrice{
                display: flex;
                font-weight: bolder;
                margin-bottom: 20px;
                align-items: center;

                .price{
                    font-weight: bolder;
                    color: #F4576E;
                    font-size: 20px;
                    margin: 0;
                    margin-left: 10px;
                }
            }

            .btn{
                background-color: #3D6666;
                color: #fff;
            }
        }

        &.resume{
            .line{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                border-bottom: 1px solid #F3F3F3;
                flex-wrap: wrap;

                &:last-child{
                    border-bottom: 0px;
                }

                p{
                    margin: 0;
                }

                .left{
                    display: flex;
                    align-items: center;
                    max-width: 50%;

                    img{
                        margin-right: 10px;
                        width: 40px;
                    }

                    h5{
                        margin-bottom: 0;
                        font-weight: bold;
                    }
                }

                .right{
                    max-width: 50%;
                    font-weight: bold;
                    text-align: right;
                    line-height: 1;
                }

            }
        }
    }
}

.content-escolher-produtos{

    .main{
        width: 90%;
    }

    .sidebar{
        width: 300px !important;
        border: 1px solid #ccc;
        padding: 30px;

        h4{
            font-weight: bold;
        }

        .list{
            width: 100%;

            .item{
                width: 100%;
                margin: 5px 0;
                display: block;

                .active{
                    a{
                        color: #000 !important;
                        font-weight: bold;
                    }
                }
            }

            a{
                width: 100%;
                display: block;
                text-transform: uppercase;
                color: #8d8d8d;

                &:hover{
                    color: #000;
                }
            }

            .limparFiltros{
                margin-top: 30px;
                font-weight: bold;
                color: #000;
            }
            
        }
    }

    .main-right{
        width: calc(100% - 350px);

        .grid{
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            ._itemProduct{
                width: 25%;
                padding: 15px;
                box-sizing: border-box;
                text-align: center;

                figure{
                    width: 100%;

                    img{
                        width: 100%;
                        min-height: 250px;
                        max-height: 350px;
                        object-fit: cover;
                    }
                }

                h2{
                    font-weight: bold;
                    font-size: 18px;
                    margin: 10px 0;
                }

                .price{
                    font-size: 23px;
                    font-weight: 700;
                    color: $pink;
                    margin: 0;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    text-align: center;
    
                    .woocommerce-Price-currencySymbol{
                        font-size: 20px;
                        margin-right: 4px;
                    }
    
                    del{
                        font-size: 22px;
                        color: #453F40;
                        text-decoration: line-through;
                    }
    
                    ins{
                        font-weight: 700;
                        margin-left: 10px;
                    }
    
                    .subscription-details{
                        font-size: 17px;
                    }
                }

                .buttons-qty{
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                    flex-direction: row-reverse;
                    border: 2px solid #3D6666;
                    background-color: #f3f3f3;
                    color: #3D6666;
                    width: 107px;
                    margin: 0 auto;
                    padding: 0;
                    height: 37px;
                    align-items: center;
    
                    span{
                        font-size: 30px;
                        cursor: pointer;
                        padding: 0 10px;
                        margin-top: -3px;
    
                        &:hover{
                            color: #000;
                        }
                    }
    
                    input{
                        width: 40px;
                        text-align: center;
                        margin: 0;
                        background-color: transparent;
                        font-size: 20px;
                        font-weight: 700;
                        padding: 0;
                        border: 0px;
                        box-shadow: initial;
                    }
                }

                .button{
                    text-align: center;
                    margin: 0 auto;
                    margin-top: 20px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 800;
                    border: 2px solid #3D6666;
                    background-color: #fff;
                    color: #3D6666;
                    padding: 8px 20px;
                    @extend %transition;
                    position: relative;
                    display: table;
                    text-transform: uppercase;
                    min-width: 140px;
    
                    &:hover{
                        background-color: #3D6666;
                        color: #fff;
                    }
    
                    &.added{
                        background-color: #3D6666;
                        color: #fff;
    
                        &:after{
                            content: 'Produto adicionado';
                            width: 100%;
                            height: 100%;
                            background-color: #000;
                            position: absolute;
                            left: 0;
                            top: 0;
                            z-index: 0;
                        }
                    }
    
                    &:before{
                        content: '';
                        width: 0px;
                        height: 100%;
                        background-color: rgba(255,255,255,0.2);
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 0;
                        @extend %transition;
                    }
                }
            }
        }
    }
}

.msg-aviso-erro{
    font-size: 20px;
    color: #d71b36;
    text-transform: uppercase;
    font-weight: 700;
}