.site-header{
	padding: 0 !important;
	margin-bottom: 0px !important;
	border: 0 !important;
	
	.lineTop{
		width: 100%;
		padding: 10px 0;
		background-color: $yellow;
		font-size: 14px;

		.main{
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-transform: uppercase;

			.item{
				display: flex;
				align-items: center;
				white-space: nowrap;

				a{
					display: flex;
					align-items: center;
					color: #000;
				}

				img{
					margin-right: 8px;
					border-radius: 0px;
				}

			}

			.right{
				display: flex;
				align-items: center;
			}

			.redesSociais{
				margin-left: 50px;
			}

			.redes{
				display: flex;
				align-items: center;
				margin-left: 10px;

				a{
					display: block;
					margin: 0 5px;
				}
			}
		}
	}

	.lineBottom{
		width: 100%;
		padding: 10px 0;
		background-color: $pink;

		.main{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.brand{
				max-width: 200px;
			}

			.menu{
				.closeMenuMobile{
					display: none;
				}
				
				ul{
					display: flex;
					padding: 0;
					margin: 0;

					li{
						margin: 5px 10px;

						&.menu-item-has-children{
							position: relative;

							&:hover{
								.sub-menu{
									opacity: 1;
									visibility: visible;
									top: 40px;
								}
							}

							.sub-menu{
								width: 220px;
								position: absolute;
								right: -20px;
								top: 60px;
								background-color: #fff;
								padding: 13px 10px;
								box-sizing: border-box;
								opacity: 0;
								display: block;
								visibility: hidden;
								@extend %transition;
			
								&:before{
									content: '';
									width: 0;
									height: 0;
									border-left: 10px solid transparent;
									border-right: 10px solid transparent;
									border-bottom: 10px solid #fff;
									position: absolute;
									right: 18px;
									top: -10px;
								}
			
								&:after{
									content: '';
									width: 100%;
									height: 16px;
									position: absolute;
									left: 0;
									top: -16px;
								}
			
								ul{
									margin: 0;
								}
			
								li{
									width: 100%;
									margin: 5px 0;

									&:last-child a{
										border-bottom: 0px;
									}
			
									a{
										width: 100%;
										display: flex;
										align-items: center;
										color: #4a4a4a;
										line-height: 1.1;
										padding: 9px 7px;
										font-size: 15px;
										border-bottom: 1px solid #eaeaea;
									}
								}
							}
						}

						a{
							padding: 5px;
							font-size: 17px;
							color: #fff;
							text-transform: uppercase;
							font-weight: bold;

							&:hover{
								color: #212121;
							}
						}
					}
				}
			}

			.right{
				display: flex;
				align-items: center;

				.item{
					text-align: center;
					margin: 0 15px;
					position: relative;

					&.ItemConta{
						cursor: pointer;
						&:hover{
							span{
								color: #fff;
							}
						}
					}

					&:hover{
						span{
							color: #212121;
						}
					}

					img{
						margin: 0 auto;
						display: block;
					}

					span{
						font-weight: bold;
						font-size: 14px;
						color: #fff;
					}

					&:hover{
						.dropdown{
							opacity: 1;
							visibility: visible;
							top: 60px;
						}
					}

					.dropdown{
						width: 330px;
						position: absolute;
						right: -20px;
						top: 80px;
						background-color: #fff;
						padding: 20px;
						box-sizing: border-box;
						color: #3d6666;
						opacity: 0;
						visibility: hidden;
						display: block;
						@extend %transition;

						&.mini{
							width: 220px;
						}
	
						&:before{
							content: '';
							width: 0;
							height: 0;
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							border-bottom: 10px solid #fff;
							position: absolute;
							right: 18px;
							top: -10px;
						}
	
						&:after{
							content: '';
							width: 100%;
							height: 16px;
							position: absolute;
							left: 0;
							top: -16px;
						}

						.field{
							width: 100%;
							padding: 10px;

							input{
								padding: 10px;
								width: 100%;
								background-color: #f6f6f6;
								border-radius: 4px;
								box-shadow: none;
							}
						}

						.row{
							display: flex;
							padding: 10px;
							align-items: center;
							justify-content: space-between;

							button{
								color: #fff;
								background-color: #3d6666;
								margin-right: 10px;

								&:hover{
									background-color: #000;
								}
							}

							a.esqueci{
								font-size: 11px;
								text-align: left;
								color: #3d6666;
								font-weight: 600;
							}

							a{
								color: #3d6666;
								text-decoration: underline;

								&:hover{
									color: #000;
								}
							}
						}

						.listaMenu{
							width: 100%;
							margin: 0;
							
							li{
								width: 100%;
								border-bottom: 1px solid rgba(0,0,0,0.1);

								&:last-child{
									border-bottom: 0px;
								}

								a{
									color: #3d6666;
									padding: 10px;
									width: 100%;
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}

.submenu_main{
	width: 100%;
	padding: 10px;
	background-color: #fff;

	.main{
		ul{
			display: flex;
			align-items: center;
			margin: 0;
			justify-content: center;

			li{
				margin: 0 20px;

				a{
					display: flex;
					align-items: center;
					color: #000;

					&:hover{
						opacity: 0.6;
					}

					i{
						margin-right: 6px;
						background-position: center;
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
}



.dropdownConta{
	width: 330px;
	position: absolute;
	right: -20px;
	top: 80px;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	color: #3d6666;
	opacity: 0;
	visibility: hidden;
	display: block;
	@extend %transition;

	&.active{
		opacity: 1;
		visibility: visible;
		top: 60px;
	}

	&.mini{
		width: 220px;
	}

	&:before{
		content: '';
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #fff;
		position: absolute;
		right: 18px;
		top: -10px;
	}

	&:after{
		content: '';
		width: 100%;
		height: 16px;
		position: absolute;
		left: 0;
		top: -16px;
	}

	.field{
		width: 100%;
		padding: 10px;

		input{
			padding: 10px;
			width: 100%;
			background-color: #f6f6f6;
			border-radius: 4px;
			box-shadow: none;
		}
	}

	.row{
		display: flex;
		padding: 10px;
		align-items: center;
		justify-content: space-between;

		button{
			color: #fff;
			background-color: #3d6666;
			margin-right: 10px;

			&.loading{
                // background: url('../images/loading-2.svg') no-repeat;
                background-position: center;
				background-color: #3d6666;
            }

			&:hover{
				background-color: #000;
			}
		}

		a.esqueci{
			font-size: 11px;
			text-align: left;
			color: #3d6666;
			font-weight: 600;
		}

		a{
			color: #3d6666;
			text-decoration: underline;

			&:hover{
				color: #000;
			}
		}
	}

	.listaMenu{
		width: 100%;
		margin: 0;
		
		li{
			width: 100%;
			border-bottom: 1px solid rgba(0,0,0,0.1);

			&:last-child{
				border-bottom: 0px;
			}

			a{
				color: #3d6666;
				padding: 10px;
				width: 100%;
				display: block;
			}
		}
	}
}

.iconMenu{
	display: none;
	border-radius: 0px;
}

.slick-arrow{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 70px;
	height: 70px;
	background-color: transparent;
	margin: auto;
	z-index: 2;
	border: 0px;
	font-size: 0;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	&:hover{
		background-color: transparent;
		opacity: 0.7;
	}
}

.slick-prev{
	left: 20px;
	background-image: url('../images/icons/arrow-prev.svg');
	width: 40px;
    height: 40px;
	background-size: contain;
	background-repeat: no-repeat;

	&:before{
		display: none;
	}
}

.slick-next{
	background-image: url('../images/icons/arrow-next.svg');
	right: 20px;
	width: 40px;
    height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotate(180deg);

	&:before{
		display: none;
	}
}

.btn{
	text-align: center;
	margin-top: 20px;
	color: #fff;
	font-size: 19px;
	font-weight: 800;
	border: 2px solid #3D6666;
	background-color: transparent;
	color: #3D6666;
	padding: 10px 20px;
	@extend %transition;
	position: relative;
	text-transform: uppercase;
	min-width: 200px;

	&:hover{
		background-color: #3D6666;
		color: #fff;
	}

	&.center{
		display: table;
		margin: 0 auto;
	}

	&.green{
		background-color: #3D6666;
		color: #fff;

		&:hover{
			background-color: #fff;
			color: #3D6666;
		}
	}
}



footer{
	padding-top: 80px;
	background-color: $yellow;
	display: inline-block !important;
	width: 100%;

	.lineTop{
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;

		.selos{
			margin-right: 40px;
			display: flex;

			img{
				margin-right: 20px;
				max-width: 190px;
			}
		}

		.menu{
			display: flex;
			text-transform: uppercase;

			.collun{
				margin: 0 20px;

				strong{
					font-size: 17px;
					color: #424242;
					margin-bottom: 15px;
					display: block;
					white-space: nowrap;
				}

				ul{
					margin: 0;
				}

				li{
					font-size: 14px;
					display: flex;
					color: #424242;
					margin: 5px 0;
					align-items: center;

					&:hover{
						a{
							color: #000;
						}
					}

					i{
						margin-right: 10px;
						color: #424242;
						font-size: 16px;
					}

					a{
						color: #424242;
					}
				}
			}
		}
	}

	.redesSociais{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		span{
			margin-right: 40px;
			color: #212121;
			font-size: 24px;
			font-weight: bold;
		}

		.redes{
			display: flex;

			a{
				font-size: 16px;
				color: #212121;
				margin: 0 20px;
				text-transform: uppercase;

				i{
					font-size: 15px;
					border: 1px solid #212121;
					border-radius: 100%;
					width: 28px;
					height: 28px;
					text-align: center;
					line-height: 28px;
				}
			}
		}
	}

	.address{
		width: 100%;
		text-align: center;
		font-size: 15px;
		color: #212121;
		margin: 30px 0;
	}

	.lineBottom{
		width: 100%;
		padding: 20px 40px;
		border-radius: 30px 30px 0 0;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left{
			max-width: 450px;
			font-size: 15px;
			
			p{
				margin: 0;
				color: #212121;
			}
		}

		.brand{
			width: 130px;

			img{
				width: 100%;
			}
		}

		.right{
			display: flex;
			align-items: center;

			.icon{
				width: 58px;
				height: 43px;
				border: 2px solid #505050;
				border-radius: 8px;
				margin: 0px 5px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.btnUp{
				width: 73px;
				height: 73px;
				background-color: #FA4248;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 30px;
				border-radius: 100%;
				margin-left: 50px;
				cursor: pointer;

				&:hover{
					opacity: 0.7;
				}
			}
		}
	}
}


.pagination{
	width: 100%;
	display: flex;
	justify-content: center;

	.page-numbers{
		width: 36px;
		height: 36px;
		border-radius: 80px;
		border: 2px solid #acacac;
		background-color: #fff;
		text-align: center;
		line-height: 32px;
		font-weight: 600;
		margin: 5px !important;

		&.current{
			border-color: $pink;
		}
	}
}


.newsletter{
	width: 100%;
	padding: 40px 0;
	padding-bottom: 20px;
	background-color: $pink;
	color: #fff;

	.text{
		text-align: center;
		max-width: 490px;
		margin: 0 auto;

		h4{
			font-size: 34px;
			font-weight: bold;
			color: #fff;
			margin-bottom: 5px;
		}
	}

	form{
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
		justify-content: center;
		align-items: baseline;

		.field{
			padding: 15px;
			width: 33.3%;

			input:not(input[type="submit"]){
				width: 100%;
				padding: 14px;
				border: 0px;
				border-radius: 6px;
				background-color: #fff;
				font-size: 16px;
			}
		}

		input[type="submit"]{
			color: #fff;
			margin-top: 20px;
			text-align: center;
			font-size: 19px;
			font-weight: 800;
			border: 2px solid #fff;
			background-color: transparent;
			padding: 10px 20px;
			@extend %transition;
			position: relative;
			text-transform: uppercase;
			width: 100%;
		
			&:hover{
				background-color: #3D6666;
				color: #fff;
			}
		}
	}
}


.modalBusca{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	display: none;

	.bottom{
		width: 100%;
		padding: 150px 0;

		.main{
			max-width: 1000px;
		}

		form{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 40px 30px;
			background-color: #fff;
			position: relative;
			width: 100%;

			.close{
				cursor: pointer;
				font-size: 32px;
				color: #fff;
				position: absolute;
				right: 10px;
				top: -50px;

				&:hover{
					opacity: 0.8;
				}
			}

			input{
				width: 85%;
				padding: 10px;
				background-color: #e5e5e5;
				border: 0px;
				border-bottom: 1px solid #fff;
				color: #000;
				box-shadow: none;
				font-size: 22px;
				border-radius: 6px 0 0 6px;

			}

			button{
				width: 15%;
				padding: 10px 30px;
				text-align: center;
			}

			.btn{
				background: #3d6666 !important;
				color: #fff;
				margin-top: 0;
			}
		}
	}
}

.overModalBusca{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.6);
	display: none;
}


i[class*="icon-"] {
	width: 23px;
	height: 23px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.icon-assinatura{ background-image: url('../images/icons/assinatura.svg'); }
.icon-oferta{ background-image: url('../images/icons/oferta.svg'); }
.icon-fruta{ background-image: url('../images/icons/frutas.svg'); }
.icon-verduras{ background-image: url('../images/icons/verduras.svg'); }
.icon-legumes{ background-image: url('../images/icons/legumes.svg'); }
.icon-mercearia{ background-image: url('../images/icons/mercearia.svg'); }
.icon-padaria{ background-image: url('../images/icons/padaria.svg'); }
.icon-variedades{ background-image: url('../images/icons/variedades.svg'); }
.icon-temperos{ background-image: url('../images/icons/temperos.svg'); }
.icon-whatsapp{ background-image: url('../images/icons/whatsapp.svg'); }
.icon-faq{ background-image: url('../images/icons/faq.svg'); }
.icon-email{ background-image: url('../images/icons/email.svg'); }



.xoo-el-form-container{
	// display: none !important;
}

.xoo-el-form-container{
	padding-bottom: 0px !important;
}

.xoo-el-header, .xoo-aff-group label{
	display: none;
}

.site-header .lineBottom .main .right .item span{
	display: none;
}

.xoo-aff-group input[type="text"], .xoo-aff-group input[type="password"], .xoo-aff-group input[type="email"], .xoo-aff-group input[type="number"], .xoo-aff-group select{
	border-radius: 4px !important;
}

.xoo-el-form-container button.button.btn.xoo-el-action-btn{
	width: 100% !important;
}

form.xoo-el-action-form{
	margin: 0 !important;
}

.xoo-aff-group{
	width: 100% !important;
	margin-bottom: 20px !important;
}

.xoo-el-section{
	padding-left: 0 !important;
}

.col2-set#customer_login .col-1{
	// display: none !important;
}

.col2-set#customer_login .col-2{
	// float: none !important;
	// margin: 0 auto !important;
}

.entry-header{
	width: 100%;
	background-color: #61b0e7;
	color: #fff;
	padding: 30px 0 !important;
	text-align: center;
	position: relative;
	margin-bottom: 20px !important;

	&:before{
		content: '';
		width: 2000px;
		background-color: #61b0e7;
		height: 100%;
		left: -55%;
		top: 0;
		position: absolute;
		z-index: 0;
	}

	h1{
		color: #fff;
		position: relative;
		z-index: 2;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 0;
	}
}

.woocommerce-cart-form__contents th{
	background-color: #d367c5 !important;
	color: #fff;
}

#page{
	display: inline-block;
    width: 100%;
	overflow-x: hidden !important;
}

.widget_price_filter .ui-slider .ui-slider-range, .widget_price_filter .ui-slider .ui-slider-handle{
	background-color: #9b9b9b !important;
	border-radius: 0px !important;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child{
	background-color: $pink !important;
}

.comofunciona-page{
	.conteiner{
		padding: 120px 0;
		text-align: center;

		.text.center{
			text-align: center;
			display: table;
			margin: 0 auto;
			margin-top: 20px;
			max-width: 800px;

			h3{
				font-weight: 600;
				color: #486F6F;
			}

			h4{
				

				a{
					font-weight: 600;
					color: #486F6F;
					font-size: 20px;
				}
				
			}

			p{
				margin: 10px 0;
			}
		}
	}
}

.comocomprar-page{
	.conteiner{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 40px 0;

		h3{
			font-size: 32px;
			color: #5E8080;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
			font-weight: 900;
			text-transform: uppercase;
		}

		.coll{
			padding: 10px;
			width: 800px;
			max-width: 90%;
    		margin: 0 auto;

			&.col-50{
				width: 50%;
			}

			h4{
				font-size: 28px;
				color: #5E8080;
				margin: 20px 0;
				margin-bottom: 15px;
				width: 100%;
				text-align: center;
				font-weight: 900;
			}

			.collapse{
				width: 100%;
				margin-bottom: 15px;

				&.active{
					.ctn{
						display: block;
					}

					.top{
						&:before{
							content: '-';
							top: 1%;
    						font-size: 40px;
						}
					}
				}

				.top{
					width: 100%;
					padding: 15px;
					font-size: 16px;
					font-weight: bold;
					box-shadow: 0px 3px 11px -2px rgba(0,0,0,0.2);
					-webkit-box-shadow: 0px 3px 11px -2px rgba(0,0,0,0.2);
					-moz-box-shadow: 0px 3px 11px -2px rgba(0,0,0,0.2);
					border: 1px solid #e3e3e3;
					text-transform: uppercase;
					position: relative;
					line-height: 1.2;
					cursor: pointer;
					padding-right: 40px;

					&:hover{
						background-color: #f2f2f2;
					}

					&:before{
						content: '+';
						position: absolute;
						right: 16px;
						top: 4%;
						font-size: 37px;
					}
				}

				.ctn{
					width: 100%;
					padding: 15px;
					border: 1px solid #e3e3e3;
					margin-top: 5px;
					display: none;

					p{
						margin: 10px 0;
					}
				}
			}

			.contatos{
				margin-top: 15px;

				p{
					text-align: center;
					margin: 5px 0;

					a{
						font-weight: 900;
						font-size: 17px;
						text-transform: uppercase;
						color: #797979;

						i{
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}

.woocommerce-form-register__submit{
	padding: 10px 30px 10px 30px;
    background-color: #557765 !important;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 21px;
	width: 100% !important;
	text-align: center;
}

.wc-proceed-to-checkout .button{
	background-color: #3D6666 !important;
}


.picker__footer{
	display: none !important;
}

.picker__day{
	padding: .1em 0 !important;
}

.picker__frame{
	max-width: 450px !important;
}

.picker__weekday{
	font-size: 14px !important;
	padding: 14px;
}

.picker__box{
	padding: 0 15px;
}

.picker__table td{
	padding: 6px !important;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
	background: #8bc34a !important;
}

.products li.product ._inner .woocommerce-loop-product__title{
	min-height: 54px;
}

.col2-set#customer_login .col-2{
	// max-width: 450px;
}

.slick-dots{
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;

	li{
		margin: 10px;
		opacity: 0.6;

		&.slick-active{
			opacity: 1;
		}

		button{
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: #fff;
			border: 0px;
			font-size: 0;
		}
	}
}

table.cart th, table.cart td{
	text-transform: uppercase;

	a{
		font-weight: 600;
		color: #3D6666;
	}
	
}

.cart-collaterals .woocommerce-Price-amount{
	color: #F4576E;
	font-weight: 600;
}

table.cart td.actions{
	.continue{
		background-color: #4c4c4c;
		color: #fff;
		font-size: 13px;
		padding: 12px 20px;
	}
}

.add_to_cart_button{
	display: flex;
	align-items: center;
	padding: 5px 20px !important;
    padding-left: 15px !important;

	svg{
		width: 28px;
		margin-bottom: -8px;
		margin-right: 6px;
		fill: #3D6666;
	}
}


#pagarme-checkout-header .icon-pg-checkout-close{
	color: #fff !important;
	font-size: 32px !important;
}


.calendario-datas {
	width: 41.1764705882%;
    float: right;
    margin-right: 0;
    clear: right;
    margin-bottom: 30px;
    background-color: #f8f8f8;
    padding: 25px;

	h3{
		font-size: 19px;
		font-weight: 600;
		margin-bottom: 0;
	}

	#dateShipping{
		font-weight: bold;
	}
}

#clickCalendario{
	cursor: pointer;
}

#payment .place-order .button{
	background-color: #3D6666;
}

.linkCart{
	position: relative;

	.number{
		position: absolute;
		right: -9px;
		top: -7px;
		background-color: #fff;
		color: #222;
		font-size: 13px;
		justify-content: center;
		align-items: center;
		border-radius: 60px;
		width: 22px;
		height: 22px;
		text-align: center;
		font-weight: 600;
		display: flex;
		z-index: 9;
		left: 0;
		margin: auto;
		transform: translateX(14px);

		&.loading{
			background-image: url('../images/loading-2.svg');
			background-repeat: no-repeat;
			background-size: 66%;
			background-position: center;
		}
	}
}

#woocommerce_ordering_custom{
	display: none;
}

.woocommerce-message{
	background-color: #557765 !important;
}



.bricks--component.bricks--component-embeddable-form{
	margin: 0 auto !important;
	width: 100% !important;
}

#rd-form-kz79csl0 .bricks-form__submit{
    margin-top: 30px !important;
}

#rd-section-kz79cskr{
	background-color: transparent !important;
}

.btn-filter-cats{
	display: none;
}

.wsafp-form{
	// display: none !important;
}

.woocommerce-form-coupon-toggle{
	.woocommerce-info{
		display: none !important;
	}
}

.checkout_coupon.woocommerce-form-coupon{
	display: block !important;
}

.overflowMenu{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9998;
	background-color: rgba(0,0,0,0.6);
	display: none;
}

.badgeAdded{
	position: fixed;
	right: 20px;
	bottom: -10px;
	padding: 14px 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 10px;
	z-index: 99999;
	display: flex;
	align-items: center;
	box-shadow: 0px 3px 11px -2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 11px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 11px -2px rgba(0,0,0,0.2);
	opacity: 0;
	visibility: hidden;
	padding-right: 50px;

	&.active{
		bottom: 20px;
		opacity: 1;
		visibility: visible;
	}

	i{
		font-size: 20px;
		color: green;
		margin-right: 10px;

		&.close{
			color: #ccc;
			margin-right: 0;
			font-size: 18px;
			cursor: pointer;
			position: absolute;
			right: 18px;
			top: 50%;
			margin-top: -9px;

			&:hover{
				color: #aba9a9;
			}
		}
	}
}

.order_details{
	.product-remove, .remove_item{
		display: none !important;
	}
}

.payment_method_iugu-credit-card{
	display: none !important;
}

.woocommerce-MyAccount-navigation-link--payment-methods{
	display: none !important;
}



.popup-abt{
    width: 80%;
    max-width: 800px;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    z-index: 9991;
    overflow: hidden;

	.close{
		position: absolute;
		right: 10px;
		top: 0px;
		font-size: 26px;
		color: black;

		&:hover{
			color: #000;
		}
	}

    .content{
        width: 100%;

		img{
			width: 100%;
		}
    }
}

.popup-abt-overflow{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.wsafp-form{
	display: none !important;
}

.change_payment_method{
	display: none !important;
}