.contato-page{
	.banner{
		width: 100%;

		img{
			width: 100%;
			height: 350px;
			object-fit: cover;
		}
	}	

	.ctnForm{
		width: 100%;
		padding: 80px 0;

        .main{
            max-width: 750px;
        }

        h3{
            text-transform: uppercase;
            font-size: 28px;
            margin-bottom: 10px;
            font-weight: bold;
            color: #3D6666;
        }

        .text{
            margin-bottom: 40px;
        }

        .form{
            width: calc(100% + 20px);
            margin-left: -20px;
            margin-bottom: 50px;
            display: inline-block;

            .field{
                width: 100%;
                padding: 10px;
                float: left;

                &.field-50{
                    width: 50%;
                }

                input, textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    background-color: #fff;
                }

                input[type="submit"]{
                    background-color: #557765;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 20px;
                    width: auto;
                    min-width: 120px;
                    padding: 10px 30px 10px 30px;
                }
            }
        }

	}
}