.home-page{

    .sliderHome{
        position: relative;
        min-height: 400px;
        background-color: #ccc;

        img{
            display: block;
            width: 100%;
            opacity: 0;

            &.active{
                opacity: 1;
            }
        }

        .arrows{
            position: absolute;
            right: 0;
            width: 100%;
            top: 45%;
            display: flex;
            justify-content: space-between;

            button{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0px;
                margin: 0 5px;
                padding: 0px !important;
                background-color: transparent !important;
                position: initial !important;

                img{
                    width: auto;
                    filter: drop-shadow(3px 3px 10px rgba(0,0,0,.9));
                }
            }

            #nextSlider{
                transform: rotate(180deg);
            }
        }
    }

    .categories{
        width: 100%;
        margin-top: -65px;
        margin-bottom: 60px;
        position: relative;
        z-index: 2;

        .box{
            padding: 20px;
            background-color: #fff;
            border-radius: 0 20px 0 20px;
            box-shadow: 1px 5px 9px 0px rgba(0,0,0,0.25);
            -webkit-box-shadow: 1px 5px 9px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 1px 5px 9px 0px rgba(0,0,0,0.25);

            .scroll{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }

            &:hover{
                .item{

                    img, span{
                        opacity: 0.6;
                    }
                    
                }
            }

            .item{
                width: 12.5%;
                border-right: 1px dashed #8b8b8b;
                text-align: center;
                padding: 20px 0;

                &:hover{
                    
                    img, span{
                        opacity: 1;
                    }

                    img{
                        transform: scale(1.1);
                    }
                }

                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                    margin: 0 auto;
                }

                span{
                    font-weight: 400;
                    color: #000;
                    margin-top: 10px;
                    display: block;
                    font-size: 20px;
                }

                &:last-child{
                    border-right: 0px;
                }
            }
        }
    }

    .colluns{
        width: 100%;
        margin: 40px 0;

        .main{
            display: flex;
            justify-content: space-between;

            .collun{
                margin: 0 10px;
                text-align: center;
                padding: 30px;
                width: 30%;

                &:first-child{
                    margin-left: 0;
                }

                &.green{
                    background-color: $green;
                }

                &.orange{
                    background-color: $orange;
                }

                &.yellow{
                    background-color: $yellow;
                }

                &.selos{
                    width: 40%;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 0px;

                    .icon{
                        max-width: 50%;
                        padding: 0px 10px;
                    }
                }

                .icon{
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }

                h3{
                    font-size: 18px;
                    font-weight: bold;
                    color: #000;
                }

                .text{
                    font-size: 22px;
                    line-height: 1.4;
                    font-weight: normal;
                    color: rgba(0,0,0,0.7);
                }
            }
        }
    }

    .colluns-02{
        width: 100%;
        margin: 20px 0;

        .main{
            display: flex;

            .collun{
                width: 50%;
                position: relative;
                padding: 10px;
                display: flex;

                &:first-child{

                    img.bg{
                        max-width: initial;
                        width: 123%;
                        left: -10px;
                    }
                }

                &:last-child {
                    .inner{
                        display: flex;
                        text-align: right;
                        flex-direction: row-reverse;
    
                        .ctn .link{
                            justify-content: end;
                        }
                    }

                    img.bg{
                        left: -117px;
                    }
                }

                .inner{
                    position: relative;
                    width: 100%;
                }

                .ctn{
                    position: relative;
                    z-index: 2;
                    padding: 30px;
                    max-width: 400px;

                    h4{
                        font-size: 22px;
                        font-weight: bold;
                    }

                    .text{
                        margin: 15px 0;
                        font-size: 16px;
                        line-height: 1.4;
                    }

                    .link{
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        margin-top: 15px;
                        color: #000;
                        font-style: italic;

                        img{
                            margin-right: 10px;
                        }
                    }
                }

                img.bg{
                    width: 120%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    z-index: 0;
                    max-width: initial;
                }
            }
        }
    }

    .bloco-posts{
        width: 100%;
        margin: 40px 0;

        .arrows{
            position: absolute;
            right: 0;
            top: -40px;

            i{
                position: relative;
                font-size: 15px;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                border: 2px solid #3D6666;
                text-align: center;
                line-height: 50px;
                opacity: 1;
                margin-left: 10px;
    
                &:hover{
                    color: $pink;
                    border-color: $pink;
                }
            }
        }

        .slick-arrow{
            position: relative;
            font-size: 15px;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            border: 2px solid #3D6666;
            text-align: center;
            line-height: 50px;
            opacity: 1;

            &:hover{
                color: $pink;
                border-color: $pink;
            }
        }

        .title{
            width: 100%;
            display: block;
            margin-bottom: 20px;
            text-align: center;
            position: relative;

            &:before{
                content: '';
                width: 100%;
                height: 1px;
                border-top: 1px dashed #B7B4B4;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: 0;
            }

            h3{
                font-weight: bold;
                font-size: 30px;
                background-color: #fff;
                padding: 5px 20px;
                position: relative;
                z-index: 2;
                display: inline;
                color: #3D6666;
            }
            
        }

        .abas{
            display: flex;
            margin-left: 10px;
            margin-bottom: 40px;

            .item{
                padding: 15px 25px;
                text-transform: uppercase;
                color: #fff;
                font-weight: bold;
                background-color: #D367C5;
                margin: 2px;
                cursor: pointer;
                border-radius: 4px;
                font-size: 23px;

                &:hover{
                    background: #B522A2;
                }

                &.active{
                    background-color: $blue;
                    position: relative;

                    &:before{
                        content: '';
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid $blue;
                        position: absolute;
                        left: calc(50% - 5px);
                        bottom: -10px;
                    }

                    &:hover{
                        background: $blue;
                    }
                }

                
            }
        }

        .slider{
            position: relative;

            ul.products{
                min-width: 1000px;
            }
        }

        .contents{
            .item{
                display: none;

                &.active{
                    display: block;
                }
            }
        }
    }

    .bloco-depoimentos{
        width: 100%;
        background-color: $blue;
        padding: 80px 0;

        .main{
            max-width: 1200px;
        }

        .title{
            width: 100%;
            display: block;
            margin-bottom: 80px;
            text-align: center;
            position: relative;

            &:before{
                content: '';
                width: 100%;
                height: 1px;
                border-top: 1px dashed #fff;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: 0;
                opacity: 0.8;
            }

            h3{
                font-weight: bold;
                font-size: 30px;
                background-color: $blue;
                padding: 5px 20px;
                position: relative;
                z-index: 2;
                display: inline;
                color: #fff;
            }

            .arrows{
                position: absolute;
                right: 0;
                top: 40px;

                i{
                    opacity: 0;
                    margin: 0px 5px;
                }
            }

            .slick-arrow{
                position: relative;
                font-size: 15px;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                border: 2px solid #fff;
                text-align: center;
                line-height: 50px;
                opacity: 1 !important;
                color: #fff;

                &:hover{
                    color: $pink;
                    border-color: $pink;
                }
            }
        }

        .item{
            width: 100%;
            padding: 20px;
            background-color: #fff;
            display: flex;
            justify-content: space-evenly;
            border-radius: 10px;

            .depoimento{
                width: 33.3%;
                text-align: center;
                border-right: 1px solid #ccc;
                padding: 20px;

                &:last-child{
                    border-right: 0px;
                }

                .text{

                }

                .name{
                    font-weight: bold;
                    color: #000;
                    position: relative;
                    padding-top: 20px;
                    margin-top: 20px;
                    display: block;
                    font-size: 16px;

                    &:before{
                        content: '';
                        width: 48px;
                        height: 2px;
                        background-color: #7ED321;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        margin: 0 auto;
                    }
                }
            }
        }
    }


    .bloco-blog{
        width: 100%;
        background-color: $green;
        padding: 80px 0;

        .title{
            width: 100%;
            display: block;
            margin-bottom: 40px;
            text-align: center;
            position: relative;

            &:before{
                content: '';
                width: 100%;
                height: 1px;
                border-top: 1px dashed #426C65;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: 0;
                opacity: 0.8;
            }

            h3{
                font-weight: bold;
                font-size: 30px;
                background-color: $green;
                padding: 5px 20px;
                position: relative;
                z-index: 2;
                display: inline;
                color: #426C65;
            }
        }

        .grid{
            width: 100%;
            display: flex;
            margin-bottom: 40px;

            ._item{
                width: 33.3%;
                padding: 10px;

                figure{
                    width: 100%;

                    img{
                        width: 100%;
                        max-height: 240px;
                        object-fit: cover;
                    }
                }

                .ctnText{
                    width: 100%;
                    background-color: #fff;
                    padding: 20px;

                    h4{
                        color: #486F6F;
                        font-weight: bold;
                        font-size: 19px;
                        text-transform: uppercase;
                        min-height: 60px;
                    }

                    .date{
                        width: 100%;
                        margin: 20px 0;
                        font-size: 16px;
                        display: block;
                    }

                    .text{
                        font-size: 17px;
                        color: #000;
                        font-weight: 400;
                    }

                    .link{
                        color: #486F6F;
                        font-weight: bold;
                        font-size: 20px;
                        padding-left: 46px;
                        position: relative;
                        margin-top: 20px;
                        display: block;

                        &:before{
                            content: '';
                            width: 40px;
                            position: absolute;
                            left: 0;
                            background-color: #486F6F;
                            bottom: 2px;
                            height: 2px;
                        }
                    }
                }
            }
        }
    }

    .bloco-links{
        width: 100%;
        padding: 30px 0;
        background-color: #fff;

        .main{
            display: flex;

            .collun{
                width: 33.3%;
                padding: 10px 20px;
                display: flex;

                .icon{
                    margin-right: 20px;
                }

                .right{
                    h3{
                        font-size: 19px;
                        font-weight: bold;
                        margin-bottom: 5px;
                        color: #333;
                    }

                    .text{
                        line-height: 1.2;
                        color: #6d6d6d;
                    }
                }
            }
        }
    }

    ul.products li.product.first, ul.products .wc-block-grid__product.first, .wc-block-grid__products li.product.first, .wc-block-grid__products .wc-block-grid__product.first{
        clear: initial !important;
    }

    .product_cat-assinatura-novas{
        ._inner .price, ._inner .buttons-qty{
            display: none;
        }
    }
}