.products{
	margin: 0;

	&.columns-4{
		li.product{
			width: 25%;
			margin-right: 0px !important;
			margin-bottom: 0px !important;

			// &:nth-child(4n + 1){
			// 	clear: both !important;
			// }
		}
	}

	li.product{
		padding: 15px;
		clear: initial !important;
		margin-bottom: 0px;
		overflow: hidden;

		&.product_tag-home-assinatura {
			._inner .attachment-woocommerce_thumbnail{
				max-height: 350px;
			}
		}

		&.outofstock{
			._inner{
				&:before{
					content: 'Fora de estoque';
					padding: 4px 15px;
	    			border-radius: 6px;
	    			color: #fff;
	    			background-color: #000;
	    			position: absolute;
	    			left: -15px;
	    			top: 10px;
	    			border: 0px;
	    			font-weight: 800;
	    			font-size: 16px;
				}

				.button{
					background-color: #000;
					color: #fff;
				}
			}
		}

		._inner{
			padding: 0px;
    		border-radius: 6px;
    		text-align: left;
    		position: relative;
    		
    		padding-bottom: 30px;
    		margin-bottom: 50px;
    		@extend %transition;

    		.onsale, .tag_product{
    			padding: 4px 15px;
    			border-radius: 6px;
    			color: #fff;
    			background-color: $yellow;
    			position: absolute;
    			left: -15px;
    			top: 10px;
    			border: 0px;
    			font-weight: 800;
    			font-size: 16px;
    			text-transform: capitalize;

    			&.green{
    				background-color: #1bcd88;
    			}
    		}

			.ctnImage{
				margin-bottom: 20px;
				// display: flex;
				// align-items: center;
    			// min-height: 350px;
				// background-color: rgb(241, 241, 241);
				// margin-bottom: 10px;
			}

    		.attachment-woocommerce_thumbnail{
				width: 100%;
				margin: 0px;
				max-height: 220px;
				object-fit: cover;
    		}

    		.woocommerce-loop-product__title{
    			font-weight: 800;
    			margin: 0;
    			font-size: 16px;
				text-transform: uppercase;
    			line-height: 1.1;
				text-align: center;
				color: #3D6666;
    		}

    		.ctnTitleProduct{
    			// min-height: 80px;
    		}

    		.price{
    			font-size: 23px;
				font-weight: 700;
				color: $pink;
				margin: 0;
				margin-top: 5px;
				margin-bottom: 10px;
				text-align: center;
				line-height: 1;

				.from{
					display: none;
				}

				.woocommerce-Price-currencySymbol{
					font-size: 20px;
					margin-right: 4px;
				}

				del{
					font-size: 22px;
					color: #453F40;
					text-decoration: line-through;
				}

				ins{
					font-weight: 700;
					margin-left: 10px;
				}

				.subscription-details{
					font-size: 17px;
				}
    		}

    		.installments_product{
    			display: none;
				margin-top: -8px;
				font-size: 14px;
				font-weight: 600;

				&.active{
					display: inline-block;
					margin-bottom: 10px;
				}
    		}

    		.added_to_cart{
    			display: none;
    		}

    		&:hover{

				img{
					opacity: 0.8;
				}
    		}

    		.button{
				text-align: center;
				margin: 0 auto;
				margin-top: 20px;
				color: #fff;
				font-size: 16px;
				font-weight: 800;
				border: 2px solid #3D6666;
				background-color: #fff;
				color: #3D6666;
				padding: 8px 20px;
				position: relative;
				display: table;
				text-transform: uppercase;
				min-width: 140px;

				&:hover{
					background-color: #3D6666;
					color: #fff;

					svg{
						fill: #fff;
					}
				}

				&.added{
					background-color: #3D6666;
					color: #fff;

					&:after{
						content: 'Produto adicionado';
						width: 100%;
						height: 100%;
						background-color: #3D6666;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 0;
					}
				}

				&:before{
					content: '';
					width: 0px;
					height: 100%;
					background-color: rgba(255,255,255,0.2);
					position: absolute;
					left: 0;
					top: 0;
					z-index: 0;
					@extend %transition;
				}
    		}
		}
	}
}


.site-main ul.products.columns-5 li.product{
	width: 20%;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.sideBar .iconClose, .sidebar .iconClose{
	display: none;
}

.tax-product_cat, .page-categoria-loop{
	background-color: #fff;

	.products li.product{
		width: 25% !important;
		margin-right: 0 !important;
	}

	.main-cat{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.sideBar{
		width: 300px;
		border: 1px solid #ccc;
    	padding: 30px;

		.iconClose{
			display: none;
		}

		h4{
			font-weight: 600;
		}

		ul{
			li{
				margin: 5px 0;

				a{
					color: #8d8d8d;
    				text-transform: uppercase;
				}
			}
		}
	}

	.mainProducts {
		width: calc(100% - 350px);
	}

	ul.products{
		display: flex;
		flex-wrap: wrap;
	}
	
	ul.products.columns-4 li.product{
		width: 25% !important;
	}
	
}

.buttons-qty{
	display: flex;
	justify-content: center;
	font-weight: bold;
	flex-direction: row-reverse;
	border: 2px solid #3D6666;
	background-color: #f3f3f3;
	color: #3D6666;
	width: 107px;
	margin: 0 auto;
	padding: 0;
	height: 37px;
	align-items: center;

	span{
		font-size: 30px;
		cursor: pointer;
		padding: 0 10px;
		margin-top: -3px;

		&:hover{
			color: #000;
		}
	}

	input{
		width: 40px;
		text-align: center;
		margin: 0;
		background-color: transparent !important;
		font-size: 20px;
		font-weight: 700;
		padding: 0;
		border: 0px;
		box-shadow: initial;
		box-shadow: none !important;
	}
}

