@media only screen and (min-width: 1750px){
    .entry-header:before{
        left: -46%;
    }
}

@media only screen and (max-width: 1400px){

    .site-header .lineBottom .main .menu ul li a{
        font-size: 16px;
    }

    .site-header .lineBottom .main .menu ul li{
        margin: 5px 8px;
    }

    .site-header .lineBottom .main .brand{
        max-width: 180px;
    }
	
}

@media only screen and (max-width: 1300px){

    footer .lineTop .selos{
        max-width: 40%;

        img{
            max-width: 33.3%;
        }
    }

    footer .lineTop .menu{
        max-width: 60%;
    }

    footer .lineTop .menu .collun{
        max-width: 33.3%;
    }

    footer .lineTop .menu .collun li a{
        font-size: 13px;
    }
}

@media only screen and (max-width: 1100px){

    .site-header .lineBottom .main{
        position: relative;
    }

    .site-header .lineBottom .menu{
        display: none;

        &.active{
            position: absolute;
            left: 0;
            top: 57px;
            display: block;
            background-color: #3D6666;
            padding: 30px;
            padding-left: 20px;

            &:before{
                content: '';
                width: 0; 
                height: 0; 
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #3D6666;
                position: absolute;
                left: 5px;
                top: -10px;
            }
        }
    }

    .site-header .lineBottom .main .menu .closeMenuMobile{
        display: block;
        position: absolute;
        right: 7px;
        top: 4px;
        color: #fff;
        font-size: 29px;
    }

    .site-header .lineBottom .main .menu ul{
        display: block;
    }

    #page{
        overflow-x: hidden;
    }

    .home-page .bloco-posts .slider ul.products {
        min-width: 100%;
    }

    footer .lineTop .menu{
        max-width: 100%;
    }

    footer .lineTop .selos{
        max-width: 100%;
    }
	
}

@media only screen and (max-width: 1000px){
    footer .lineTop{
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 800px){

    .home-page .sliderHome{
        min-height: initial;
    }

    .iconMenu{
        display: block;
        margin-right: 20px;
    }

    .site-header .lineBottom .main .left{
        display: flex;
        align-items: center;
    }

    .site-header .lineBottom .main .brand{
        width: 150px;
    }

    .site-header .lineTop .main .left{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .site-header .lineTop .main .right{
        display: none;
    }

    .newsletter form{
        flex-wrap: wrap;
    }

    .home-page .sliderHome .arrows button{
        // display: none !important;
    }

    .newsletter form .field{
        width: 100%;
    }

    footer .lineTop{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
    }

    footer .lineTop .selos{
        margin-right: 0;
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .lineBottom{
        padding: 20px;
        flex-wrap: wrap;
        text-align: center;
    }

    footer .lineBottom .right .icon{
        width: 46px;
        height: 36px;
    }

    footer .lineBottom .brand{
        display: none;
    }

    footer .lineTop .menu{
        flex-wrap: wrap;
    }

    footer .lineTop .menu .collun{
        margin: 15px;
    }

    footer .redesSociais .redes a{
        display: flex;
    }

    footer .redesSociais{
        flex-wrap: wrap;
    }

    footer .lineBottom .right{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .entry-header:before{
        width: 120%;
        left: -10%;
    }

    footer .redesSociais .redes{
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .redesSociais .redes a{
        margin: 15px;
    }

    footer .lineBottom .right .btnUp{
        display: none;
    }

    .contato-page .banner img, .sobre-page .banner img{
        height: 150px;
    }

    .contato-page .ctnForm .form .field.field-50{
        width: 100%;
    }

    .comocomprar-page .conteiner .coll.col-50{
        width: 100%;
    }

    .btn-filter-cats{
        display: block;
        font-size: 15px;
        margin-bottom: 30px;
        padding: 8px 14px;
        min-width: initial;
        color: #3D6666;
    }

    .tax-product_cat .sideBar, .page-categoria-loop .sideBar, .content-escolher-produtos .sidebar{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        padding: 20px;
        z-index: 9999;
        width: 85%;
        background-color: #fff;
        height: 100%;
        overflow: auto;

        &.active{
            display: block;
        }

        .iconClose{
            display: block;
            position: fixed;
            right: 20%;
            top: 10px;
            font-size: 32px;
        }
    }

    .tax-product_cat .mainProducts, .page-categoria-loop .mainProducts{
        width: 100%;
    }

    .single-product div.product .summary, .single-product .woocommerce-product-gallery{
        width: 100% !important;
    }

    .site-header .lineBottom .main .right .item span{
        display: none;
    }

    .home-page .colluns .main .collun{
        width: calc(50% - 10px);
        margin: 10px 0;
        padding: 15px;
    }

    .home-page .colluns .main .collun.selos{
        width: 100%;
    }

    .home-page .colluns .main{
        flex-wrap: wrap;
    }

    .main{
        width: 95%;
    }

    .home-page .colluns-02 .main .collun .ctn h4{
        font-size: 19px;
    }

    .home-page .colluns-02 .main .collun .ctn .text{
        font-size: 16px;
    }

    .home-page .colluns-02 .main .collun .ctn .link{
        font-size: 15px;
    }

    .home-page .colluns-02 .main .collun .ctn .link img{
        width: 38px;
    }

    .home-page .colluns-02 .main .collun .ctn{
        padding: 20px;
    }

    .home-page .bloco-posts .abas .item{
        // width: 50%;
        font-size: 16px;
        text-align: center;
        white-space: nowrap;
    }

    .products.columns-4 li.product{
        width: 50%;
    }

    .home-page .bloco-posts .title h3{
        font-size: 20px;
    }

    .home-page .bloco-posts .arrows, .home-page .bloco-depoimentos .title .arrows{
        display: none;
    }

    .home-page .bloco-links .main{
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-page .bloco-links .main .collun{
        width: 100%;
        justify-content: center;
    }

    .home-page .categories .box{
        overflow: auto;
    }

    .home-page .categories .box .scroll{
        width: 1100px;
    }

    .products li.product ._inner .price{
        font-size: 20px;
    }

    .scroll{
        overflow: auto;
    }

    .home-page .bloco-depoimentos .slider{
        display: flex;
    }

    .home-page .bloco-depoimentos .item{
        width: auto;

        &:first-child{
            border-radius: 10px 0 0 10px;
        }

        &:last-child{
            border-radius: 0px 10px 10px 0px;
        }
    }

    .home-page .bloco-depoimentos .item .depoimento{
        width: 250px;
    }

    .home-page .bloco-blog .grid{
        width: 800px;
    }

    .home-page .categories .box .item{
        padding: 10px 0;
    }

    .home-page .categories{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .home-page .categories .box .item img{
        width: 30px;
        height: 30px;
    }

    .home-page .categories .box .item span {
        font-size: 18px;
    }

    .home-page .categories .box{
        padding: 12px;
    }

    .home-page .bloco-posts .woocommerce.columns-4 {
        width: 100%;
        overflow: auto;

        .products{
            width: 820px;
            display: flex;

            li.product{
                width: 25%;
            }
        }
    }

    .products li.product ._inner .price del{
        font-size: 16px;
    }

    .assinatura-page .main{
        flex-wrap: wrap;
    }

    .assinatura-page .main .colMain{
        width: 100%;
    }

    .assinatura-page .main .sidebar{
        width: 85% !important;
    }

    .assinatura-page .main .sidebar .listCategories ._item .right .buttons-qty{
        width: 66px;
        margin: 0;
    }

    .boxAssinatura{
        flex-wrap: wrap;
    }

    .boxAssinatura .left{
        width: 100%;
        justify-content: space-between;
    }

    .boxAssinatura .msg{
        text-align: left;
        margin: 20px 0;
    }

    .content-frequencia .grid{
        flex-wrap: wrap;
    }

    .content-frequencia .grid ._item{
        width: 100%;
    }

    .content-revise-sua-assinatura .col{
        width: 100%;
    }

    .home-page .colluns-02 .main .collun .inner{
        overflow: hidden;
    }

    .home-page .colluns-02 .main .collun:first-child img.bg{
        object-position: left;
    }

    .home-page .colluns-02 .main .collun img.bg{
        object-fit: cover;
    }

    .home-page .colluns-02 .main .collun:last-child img.bg{
        left: 0;
        object-position: right;
    }

    .home-page .colluns-02{
        display: none;
    }

    .tax-product_cat ul.products.columns-4 li.product, .page-categoria-loop ul.products.columns-4 li.product{
        width: 50% !important;
    }

    .posts.col-3 ._itemGrid{
        width: 100%;
    }
	

    .calendario-datas{
        width: 100%;
    }

    .home-page .bloco-posts .contents .item.item-first .slider-main {
        width: 100%;
        overflow: auto;

        .products{
            width: 2400px;
            display: flex;

            .product{
                width: 12.5%;
                margin-bottom: 0;

                ._inner{
                    margin-bottom: 0;
                }
            }
        }
    }

    .tax-product_cat .main, .page-categoria-loop .main{
        flex-wrap: wrap;
    }

    .tax-product_cat .products li.product, .page-categoria-loop .products li.product{
        width: 33.3% !important;
    }


}


@media only screen and (max-width: 700px){
    .home-page .bloco-posts .contents .item.item-first{
        .slider{
            .slide{
                display: flex;
                overflow: auto;

                .woocommerce.columns-4{
                    width: 1600px;
                    overflow: initial;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px){


    .comocomprar-page .conteiner h3{
        font-size: 26px;
    }

    .comocomprar-page .conteiner .coll h4{
        font-size: 20px;
    }

    .sobre-page .ctnVideos .main .video{
        width: 100%;
    }

    .home-page .colluns .main .collun .icon{
        max-width: 60px;
    }

    .home-page .colluns .main .collun .text{
        font-size: 16px;
    }
    
    .home-page .colluns .main .collun h3{
        font-size: 17px;
    }

    .home-page .colluns-02 .main .collun:first-child img.bg{
        object-position: left;
    }

    .newsletter .text h4{
        font-size: 26px;
    }

    .entry-header h1{
        font-size: 24px;
    }

    .site-header .lineBottom{
        padding: 10px 0;
    }

    .site-header .lineBottom .main .brand{
        width: 140px;
    }

    .entry-header{
        padding: 26px 0 !important;
    }

    .home-page .bloco-links .main .collun .icon{
        width: 56px;
    }

    .home-page .bloco-blog .grid ._item .ctnText{
        height: calc(100% - 160px);
    }

    .home-page .bloco-posts .woocommerce.columns-4 .products li.product ._inner{
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    .home-page .bloco-posts .abas{
        margin-bottom: 20px;
    }

    .modalBusca .bottom form input{
        width: 100%;
        font-size: 19px;
        padding: 12px 10px;
    }

    .modalBusca .bottom form{
        padding: 30px 15px;
    }

    .modalBusca .bottom form .btn{
        min-width: auto;
        padding: 13px 10px;
        width: 87px;
        font-size: 16px;
    }

    .linkCart .number{
        transform: translateX(7px);
    }

    .content-escolher-produtos{
        .sidebar{
            display: none;
        }   
    }

    .content-escolher-produtos .main-right{
        width: 100%;
    }

    .content-escolher-produtos .main-right .grid ._itemProduct{
        width: 50%;
    }

    .home-page .bloco-depoimentos{
        padding: 30px 0;
    }

    .home-page .bloco-depoimentos .title{
        margin-bottom: 30px;
    }

    .site-header .lineBottom .main .menu ul li.menu-item-has-children .sub-menu{
        right: initial;
        left: 0px;
    }

    .site-header .lineBottom .main .menu ul li.menu-item-has-children .sub-menu:before{
        right: initial;
        left: 10px;
    }

    .assinatura-page .main .colMain .grid ._item .price{
        font-size: 16px;
    }

    .assinatura-page .main .colMain .grid ._item .box{
        padding: 10px 18px;
    }

    .assinatura-page .lineRestricoes{
        flex-wrap: wrap;
    }

    .assinatura-page .lineRestricoes .left{
        max-width: 100%;
        margin-bottom: 10px;
    }

    .boxAssinatura{
        width: 96%;
    }

    .boxAssinatura .icone img{
        width: 30px;
    }

    .tax-product_cat .products li.product, .page-categoria-loop .products li.product{
        width: 50% !important;
    }

    .assinatura-page .modal .top{
        padding-right: 40px;
    }

    .assinatura-page .modal .list ._item{
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding-right: 10px;
    }

    .assinatura-page .modal .list ._item .right{
        width: 100%;
    }

    .assinatura-page .modal .buscar button{
        width: 80px;
        padding: 5px;
    }

    .assinatura-page .modal .categories{
        width: 450px;
    }

    .assinatura-page .modal .lineBottom{
        flex-wrap: wrap;
    }

    .assinatura-page .modal .categories .item img{
        width: 30px;
    }

    #rdstation-bricks-embeddable-form-bricks-component-faP9bsIRoDCGyXqsbzfwTg .bricks--column > div{
        padding: 40px 20px;
    }

    #rdstation-bricks-embeddable-form-bricks-component-faP9bsIRoDCGyXqsbzfwTg .bricks--component{
        width: 100% !important;
    }

    #sb_instagram.sbi_col_6 #sbi_images .sbi_item{
        width: 33.3%;
    }

    .assinatura-page .main .sidebar .listCategories ._item .right .buttons-qty span{
        padding: 0 5px;
    }

    .assinatura-page .main .sidebar .listCategories ._item .right .buttons-qty input{
        width: 22px;
        font-size: 20px;
    }

    .content-escolher-produtos .main-right .grid ._itemProduct figure img{
        min-height: 200px;
        max-height: 250px;
        object-fit: contain;
    }

    .related.products .title-bloco h2{
        text-align: center;
        font-size: 20px;
    }

    table.cart td.actions .continue{
        font-size: 14px;
    }

    .badgeAdded{
        width: 90%;
        right: 5%;
    }

    .submenu_main{
        overflow: auto;
    }

    .submenu_main .main ul{
        justify-content: flex-start;
    }

    .products li.product ._inner .woocommerce-loop-product__title{
        font-size: 14px;
    }

    .page-categoria-loop .products li.product{
        margin-bottom: 0px !important;
    }

}

@media only screen and (max-width: 420px){
    .site-header .lineBottom .main .right .item{
        margin: 0 10px;
    }

    .site-header .lineTop{
        font-size: 14px;
    }

    .entry-header:before{
        // width: 100%;
    }

    .products li.product ._inner .button{
        padding: 8px 0;
        min-width: 80px;
        font-size: 14px;
    }

    #sb_instagram.sbi_col_6 #sbi_images .sbi_item{
        display: none !important;

        &:nth-child(-n+2){
            display: inline-block !important;
        }
    }

    .newsletter .text{
        font-size: 15px;
        margin-bottom: 20px;
    }

    .assinatura-page .modal .categories{
        width: 390px;
    }

    .assinatura-page .modal{
        max-width: 95%;
    }

    footer .lineTop .menu .collun{
        max-width: 100%;
    }

    .home-page .bloco-depoimentos .title h3{
        font-size: 24px;
    }

    .home-page .bloco-links .main .collun .right h3{
        font-size: 16px;
    }

    .home-page .bloco-links .main .collun .icon{
        width: 45px;
    }

    .sliderHome .slick-dots li button:before{
        display: none;
    }
    
}