/* SETUP */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$time-transition  : 0.3s;

%transition {
  -webkit-transition: all ease-in-out $time-transition; 
  -moz-transition: all ease-in-out $time-transition; 
  transition: all ease-in-out $time-transition;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body, html{
  font-family: 'Lato', sans-serif !important;
  color: #000;
  font-weight: normal;
}

body{
  width: 100%;
  overflow-x: hidden;
}

ul, li { 
  list-style: none; @extend %transition;
  padding: 0px;
  margin: 0px;
}

figure{
  margin: 0px;
}

.main{
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}

.site{
  overflow-x: initial !important;
}

a{
  color: #000;
  text-decoration: none !important;
}

*{
  outline: none !important;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1, h2, h3, h4{
  margin: 0px;
}
a, ul, span, svg, img, div {
  @extend %transition;
}

strong{
  font-weight: 700;
}

::selection {
  background: #fad686; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #fad686; /* Gecko Browsers */
  color: #fff;
}
/* SETUP */


/* CORES */
$pink: #ED3857;
$yellow: #FFE50C;
$blue: #61B0E7;
$green: #B6E45B;
$orange: #FF893E;

/* CORES */