.single-product{
	
	.product{
		margin-top: 40px;

		.product_title{
			font-size: 28px;
			line-height: 1.1;
			font-weight: 900;
			color: #3D6666;
		}

		.entry-summary{
			.buttons-qty{
				margin: 0;
				margin-right: 20px;
				height: 53px;
			}
		}
		

		form.cart{
			display: flex;
			align-items: center;
		}

		.quantity{
			display: none;
		}

		.onsale{
			position: absolute;
			width: 70px;
			height: 70px;
			border: 0;
			background-color: #ed3857;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 2;
			font-weight: 900;
			padding-right: 20px;
    		padding-bottom: 10px;
			border-radius: 0 100% 100% 100%;
			font-size: 0;

			&.active{
				font-size: 26px;
			}

			span{
				font-size: 16px;
			}
		}

		button{
			text-align: center;
			color: #fff;
			font-size: 18px;
			font-weight: 800;
			border: 2px solid #3D6666;
			background-color: #3D6666;
			color: #fff;
			padding: 10px 20px;
			position: relative;
			text-transform: uppercase;
			min-width: 200px;
		}

		.quantity .qty{
			text-align: center;
			color: #fff;
			font-size: 18px;
			font-weight: 800;
			border: 2px solid #3D6666;
			background-color: #fff;
			color: #3D6666;
			padding: 10px 20px;
			position: relative;
			text-transform: uppercase;
			min-width: 100px;
		}

		&.variations_form{

			.woocommerce-variation{
				.price{
					display: block;
					font-size: 29px;
				}
			}

			.single_variation_wrap{
				width: 100%;
			}
		}

		.price{
			display: flex;
			align-items: baseline;

			span{
				color: $pink;
			}

			del{
				opacity: .5;
				font-weight: 400;
				text-decoration: line-through;
			}

			del+ins{
				margin-left: 10px;
				font-size: 34px;
				font-weight: 900;
				color: $pink;
			}

			
		}

	}

	.product_meta{
		display: none;
	}

	.product_cat-commissions{
		.woocommerce-product-gallery{
			// display: none;
		}

		.related.products{
			display: none;
		}
	}

	.woocommerce-product-gallery{
		width: 48% !important;
		
		.flex-viewport{
			background-color:#f2f2f2;
		}

		.woocommerce-product-gallery__image{
			display: flex !important;
			justify-content: center;
			align-items: center;
			border: 2px solid #f2f2f2;
		}

		.woocommerce-product-gallery__trigger{
			position: absolute !important;
			left: 0 !important;
			top: 0 !important;
			width: 100% !important;
			height: calc(100% - 90px) !important;
			z-index: 1 !important;
			background-color: transparent !important;

			img, &:before{
				display: none !important;
			}
		}
	}

	div.product .summary{
		width: 45% !important;

		.product_title{
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.dadosTecnicos{
		width: 100%;
		display: inline-block;
		padding: 20px 0;
		padding-bottom: 30px;
		border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

		h4{
			font-weight: bold;
		}

		.woocommerce-product-details__short-description{
			column-count: 3;

			ul{
				margin: 0;
			}
		}
	}

	.yith-wfbt-form{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.yith-wfbt-section .yith-wfbt-images{
		width: 70% !important;
	}
	

	.yith-wfbt-section{
		h3{
			font-weight: bold;
			margin-bottom: 0;
		}
	}

	.yith-wfbt-section .yith-wfbt-images td{
		padding: 0;
	}

	.yith-wfbt-submit-block{
		float: left;
	}

	.yith-wfbt-section .yith-wfbt-images td{
		background-color: transparent !important;
	}

	.yith-wfbt-section .yith-wfbt-images td img{
		margin: 0 auto;
		width: 230px;
		border: 15px solid #fff;
		border-radius: 6px;
	}

	.yith-wfbt-section .yith-wfbt-images .image_plus{
		font-size: 50px;
	}

	.up-sells.products{
		margin-top: 40px;
		width: calc(100% + 30px);
		margin-left: -12px;

		h2{
			text-align: left !important;
			font-weight: bold;
			margin-bottom: 0;
			font-size: 1.41575em !important;
			margin-left: 12px;
		}

		.product{
			margin-top: 0 !important;
		}
	}

	.ctnVideo{
		width: 100%;
		padding: 60px 0;
		display: inline-block;
		background-color: #f8f8f8;

		.main{
			max-width: 800px;
		}

		.title{
			width: 100%;
			text-align: center;
			font-weight: bold;
		}

		iframe{
			width: 100%;
			margin: 40px auto !important;
		}
	}

	.ctnPrice{
		// width: 100%;
		padding: 15px 20px;
		box-sizing: border-box;
		border: 2px solid #e2e2e2;
		border-radius: 6px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0;

		form.cart{
			margin-bottom: 0 !important;
			display: block;
		}


		&.virtual{
			border-color: transparent;
			padding: 0px 20px;

			.priceLeft {
				.woocommerce-Price-amount{
					font-size: 28px;
				}

				span{
					color: #626262;
					font-size: 16px;
				}
			}

			.links{
				display: flex;
    			flex-wrap: wrap;
    			
				.btn{
					padding: 8px 20px;
    				background-color: #fff;
    				border: 2px solid #000;
    				margin: 4px 5px;
    				color: #000;
    				font-weight: bold;

    				&:hover{
    					background-color: #f2f2f2;
    				}
				}
			}
		}

		form{
			margin-bottom: 0;
		}

		.input-text.qty{
			background-color: #e9e9e9;
			border: 1px solid #ccc;
			border-radius: 6px;
			margin-right: 20px;
		}

		.priceLeft{
			margin-right: 20px;

			span{
				font-size: 18px;
				color: #231f20;

				&.labelP{
					margin-bottom: -14px;
					display: block;
				}
			}

			del{
				display: block;
				margin-bottom: -12px;

				.woocommerce-Price-amount{
					font-size: 16px;

					span{
						font-size: 15px;
					}
				}
			}

			ins{
				margin-left: 0px;
				display: block;
				margin-bottom: -10px;
			}

			.woocommerce-Price-amount{
				font-size: 32px;
				font-weight: bold;

				span{
					margin-right: 5px;
				}
			}
		}
	}
}

.storefront-full-width-content .woocommerce-tabs ul.tabs{
	width: 100% !important;
	display: flex;
}

.storefront-full-width-content .woocommerce-tabs .panel{
	width: 100% !important;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 1px 40px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 40px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 40px 0px rgba(0,0,0,0.1);
}

.single-product div.product{
	overflow: initial !important;
}
.woocommerce-tabs{
	overflow: initial !important;
}

.woocommerce-tabs ul.tabs{
	border-top: 0 !important;
	margin-bottom: 0;
}

.woocommerce-tabs ul.tabs li{
	margin-right: 5px !important;
}

.woocommerce-tabs ul.tabs li::after{
	width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 10px solid #61b0e7;
    position: absolute;
    right: 0 !important;
	left: 0 !important;
	top: initial !important;
    bottom: -14px !important;
	margin: auto !important;
	opacity: 0;
	visibility: hidden;
}

.woocommerce-tabs .panel h2{
	display: none;
}

.woocommerce-tabs ul.tabs li a{
	padding: 10px 20px !important;
    background-color: #d367c5;
	color: #fff !important;
	width: 250px;
	font-weight: 600;
    text-align: center;
	border-radius: 3px;
	font-size: 18px;
}

.woocommerce-tabs ul.tabs li.active a{
	background-color: #61b0e7;
}

.woocommerce-tabs ul.tabs li.active::after{
	content: '';
	opacity: 1;
	visibility: visible;
}


.related.products{
	width: 100%;
	display: inline-block;
}

.title-bloco{
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;

	&:before{
		content: '';
		width: 100%;
		height: 1px;
		border-top: 2px dashed #B7B4B4;
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 0;
	}

	h2{
		font-weight: bold;
		font-size: 26px;
		background-color: #fff;
		padding: 5px 20px;
		position: relative;
		z-index: 2;
		display: inline;
		color: #3D6666;
		text-transform: uppercase;
	}
}
