.single-post-page{
    margin-top: 40px;
	margin-bottom: 40px;
	
	.main{
		max-width: 1090px;
	}

	.imageMain{
		width: 100%;
		margin-top: 20px;

		img{
			width: 100%;
			// max-height: 550px;
			object-fit: cover;
			object-position: top;
			border-radius: 6px;
		}

		iframe{
			width: 100%;
			min-height: 620px;
			border-radius: 6px;
		}
	}

	.olhoPost{
	    font-size: 25px;
	    width: 100%;
	    margin-top: 23px;
	    font-weight: 500;
	}

}

.lineTitlePost{
	width: 100%;
	display: inline-block;
	margin-top: 30px;

	.category{
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bolder;
	}

	h2{
		font-size: 48px;
		margin: 0;
		font-weight: 900;
	}
}


.contentText{
	position: relative;

	img{
		max-width: 100%;
		height: auto;
		border-radius: 6px;
	}

	iframe{
		max-width: 100%;
		border-radius: 3px;
		margin: 0 auto;
		display: block;
	}

	iframe[src*="youtube."], iframe[data-src*="youtube."] {
	    max-width: 100%;
		border-radius: 3px;
		width: 820px;
		margin: 0 auto;
		display: block;
		height: 450px;
	}

	.twitter-tweet, .instagram-media{
		margin: 10px auto !important;
	}

	.adsbygoogle{
		display: block !important;
		margin: 10px auto !important;
	}

	.wp-caption-text{
		margin: 0px;
		font-size: 12px;
		opacity: 0.8;
		margin-bottom: 40px;
	}

	blockquote{
		display: inline-block;
		clear: both;
		color: #fcb923;
		border: 6px solid #fcb923;
		margin: 10px 0px;
		padding: 0px 20px;
		position: relative;

		&:before{
			content: '';
			width: calc( 100% - 50px );
			height: 8px;
			background-color: #000;
			left: 0;
			right: 0;
			top: -7px;
			margin: auto;
			position: absolute;
		}

		&:after{
			content: '';
			width: calc( 100% - 50px );
			height: 8px;
			background-color: #000;
			left: 0;
			right: 0;
			bottom: -7px;
			margin: auto;
			position: absolute;
		}

		p{
			font-size: 26px;
			font-weight: 600;
		}
	}

	a{
		color: #fcb923;

		&:hover{
			color: #fde09f;
		}
	}

	p{
		margin: 25px 0px;
		line-height: 1.5;
		font-size: 20px;
	}

	ul{
		width: 100%;
		box-sizing: border-box;
		padding-left: 15px;
	}

	li{
		margin: 20px 0px;
		line-height: 1.4;
		font-size: 18px;
		list-style: disc;
	}

	h3{
		margin: 35px 0px;
	}

	.ctnListaPost{
		width: 100%;
		margin: 60px 0px;
		opacity: 0;
		visibility: hidden;
		height: 0;

		&.active{
			opacity: 1;
			visibility: visible;
			height: auto;
		}

		ul{
			margin-left: 0;
			padding-left: 0;
		}

		.nav-listPost{
			width: 100%;
			display: flex;
			position: relative;
			padding-right: 130px;
			box-sizing: border-box;
			background-color: #252525;

			ul{
				li{
					text-align: center;
					margin: 0;
					
					a{
						width: 65px;
						height: 65px;
						color: #838383;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 30px;
						font-weight: 900;
					}

				}

				.slick-current{
					a{
						color: #fcb923;
					}
				}
			}

			.ctnArrows{
				width: 135px;
				height: 65px;
				position: absolute;
				right: 0;
				top: 0;
				display: flex;
				border-left: 1px solid rgba(255,255,255,0.3);

				span{
					width: 50%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 25px;
    				font-weight: 600;
				}
			}
		}

		.content-listPost{
			width: 100%;

			li{
				margin: 10px 0;
			}

			figure{
				width: 100%;
				margin-bottom: 20px;

				img{
					width: 100%;
				}
			}

			.title{
				font-weight: 900;
				font-size: 36px;
				width: 100%;
				display: inline-block;
			}

			.texto{

			}
			
		}
	}

	.gallery-columns-2{
		position: relative;
		margin: 60px 0px !important;
		margin-bottom: 100px !important;
		opacity: 0;
		visibility: hidden;

		&.active{
			opacity: 1;
			visibility: visible;
		}

		.gallery-item{
			width: 100%;

			img{
				border: 0px !important;
				border-radius: 0px;
				max-height: 580px;
				object-fit: cover;
			}
		}

		.wp-caption-text{
			margin-top: 10px !important;
			padding-right: 80px;
			text-align: right;
		}

		.last-item-galery{
			img{
				position: relative;
				top: 50px;
				width: calc(100% + 60px);
				left: -60px;
				max-width: calc(100% + 60px);
			}
		}
	}

	.gallery-columns-4{
		.gallery-item{
			padding: 10px;
			box-sizing: border-box;
		}

		.wp-caption-text{
			margin-top: 0px !important;
			margin-bottom: 20px;
		}
	}
	

	.wp-caption{
		max-width: 100% !important;
	}
}

.ctnScroll{
	position: relative;
}

.barFloatLeft{
	position: absolute;
	left: -120px;
	top: 0;
	text-align: center;
	width: 100px;
}

.barShared{
	width: 50px;
	margin: 0 auto;

	a{
		width: 50px;
	    height: 50px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 21px;
	    color: #000;
	    border: 1px solid rgba(0,0,0,0.8);
	    border-radius: 120px;
	    margin: 15px 0;
	    cursor: pointer;

		&:hover{
			border-color: #fcb923;
			color: #fcb923 !important;
		}
	}
}

.relateds{
	width: 100%;
	margin-top: 40px;

	.title{
		font-weight: 900;
		font-size: 26px;
		color: #000;
	}

	.posts{
		width: calc(100% + 20px);
	    display: inline-block;
	    margin-left: -10px;
	}
}