.sobre-page{

	.main{
		max-width: 1100px;
	}

	.banner{
		width: 100%;

		img{
			width: 100%;
			height: 350px;
			object-fit: cover;
		}
	}	

	.ctnText{
		width: 100%;
		padding: 80px 0;

		h2{
			font-weight: bold;
		}

		p{
			margin: 15px 0;
			font-size: 20px;
		}
	}

	.ctnVideos{
		width: 100%;
		padding: 80px 0;
		background-color: $blue;

		.main{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.video{
				width: 50%;
				padding: 15px;
				position: relative;

				a{
					position: relative;
					z-index: 2;
					width: 100%;
					display: block;

					&:before{
						font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f04b";
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						width: 50px;
						height: 50px;
						color: #fff;
						font-size: 50px;
						margin: auto;
						line-height: initial;
						z-index: 0;
					}
				}

				img{
					width: 100%;
					display: block;
				}
			}
		}
	}
}